.image-component{
    width: 3%;
    height: 3%;
    border-radius: 50%;
    margin-right: 10px;
}

.suggestions-component {
    display: flex;
    justify-items: center;
    align-items: center;
}

p{
    font-size: 20px;
}

.component{
    display: flex;
    align-items: center;
    justify-content: center;
}